<div class="col-md-6 col-md-offset-3">
	<h2>Login</h2>
    <div class="jumbotron">
    <form name = "loginForm">
      	<input type = "email" class = "form-control" ng-model="email" ng-required="true" placeholder="Email"/>
        <input type = "password" class = "form-control" ng-model="senha" ng-required="true" placeholder="senha"/>
        <button type="submit" ng-click="login(email, senha)" class="btn btn-primary">Login</button>
        <a href="#!registro" class="btn btn-link">Registrar-se</a>
      	</form>
</div>
</div>